{% form 'contact' %}
    {{ form.errors | default_errors }}
  
    <div class="first-name">
      <label for="first-name">First name</label>
      <input type="text" name="contact[first_name]" id="first-name" placeholder="First name" />
    </div>
  
    <div class="last-name">
      <label for="last-name">Last name</label>
      <input type="text" name="contact[last_name]" id="last-name" placeholder="Last name" />
    </div>
  
    <div class="phone">
      <label for="phone">Phone</label>
      <input type="tel" name="contact[phone]" id="phone" placeholder="Phone" />
    </div>
  
    <div class="email">
      <label for="email">Email</label>
      <input type="email" name="contact[email]" id="email" placeholder="E-mail" />
    </div>
  
    <div class="order-number">
      <label for="order-number">Order number</label>
      <input type="text" name="contact[order_number]" id="order-number" placeholder="Order number" />
    </div>
  
    <div class="message">
      <label for="message">Message</label>
      <textarea name="contact[body]" id="message" placeholder="Message"></textarea>
    </div>
  
    <div class="submit">
      <input type="submit" value="SUBMIT" />
    </div>
{% endform %}
  