<div class="navbar-mobile">
  <div class="navbar-mobile--row">

    <div class="menu-button-holder">
      <div class="menu-button">
        <span>Menu</span>
      </div>
    </div>

    <div class="logo">
        {% render 'dais-text' %}
    </div>

    <div class="cart">
      {% render 'cart-link--mobile' %}
    </div>

  </div>
</div>