<form action="/search" method="get" class="search-form right" role="search">
    <input name="q" type="search" id="search-field" placeholder="Search The Shop" value="{{ search.terms | escape }}" />
    <button type="submit" id="search-submit">
        {% render 'icon--search' %}
    </button>
</form>