<header class="section--header">
  <div class="section--header-wrapper">
    <h2 class="title" data-aos="fade-down">
      {{ data.section_title }}
    </h2>
    <a class="view-more" 
        data-aos="fade-in"
        data-aos-delay="800"
        href="{{ destination }}">
      {{ 'View more' | escape }}</a>
  </div>
</header>