<div class="theme-mode">
    <div class="dark-mode">
        <span class="icon">
            {% render 'icon--moon' %}
        </span>
        {% if location == 'mobile-overlay' %}
            <p>{{ 'Dark mode' | escape }}</p>
        {% endif %}
    </div>
    <div class="lite-mode">
        <span class="icon">
            {% render 'icon--sun' %}
        </span>
        {% if location == 'mobile-overlay' %}
            <p>{{ 'Lite mode' | escape }}</p>
        {% endif %}
    </div>
</div>