/*
* ----------------------------
* Artist Page
* Single Artist Page
* ----------------------------
*/

.single-artist {
    width: 100%;
    overflow-x: hidden;

    .single-artist--wrapper {
        padding: 0;
        display: flex;
        flex-direction: column;
        grid-gap: 24px;

        
        .data {
            padding: 100px var(--side-padding) 0px var(--side-padding);

        }

        .status {
            margin: 0 0 10px 0;
            img {
                width: 100%;
            }

            a {
                background: var(--grey-light);
                padding: 4px;
                border-radius: 4px;
            }
        }

        .title {
            h1 {
                font-size: 9.1rem;
                letter-spacing: -0.4rem;
            }
        }

        .description {
            margin: 40px 0 0 0;
            line-height: 1.8;
            p {
                font-size: 1.6rem;
                margin: 0 0 20px 0;
            }
        }

        /* 
            Products
        */
        .products {
            padding: 0 var(--side-padding);

            .title h3 {
                font-size: 2.4rem;
                text-transform: uppercase;
                display: inline-block;
                margin: 0 0 20px 0;
                border-bottom: var(--border-blk);
            }

            ul.artist-products {
                list-style: none;
                margin: 0;
                padding: 0;
                display: grid;
                grid-template-columns: repeat(6, 25%);
                grid-gap: 10px;
                width: 100%;
                transition: var(--quick-transition);

                .item {
                    .title {
                        font-size: 2rem;
                    }

                    .title:hover {
                        text-decoration: underline;
                    }

                    .vendor, .date, .sku  {
                        font-size: 1.6rem;
                        font-family: var(--type-writer);
                    }

                    img {
                        width: 100%;
                        margin-bottom: 12px;
                    }
    
                    img:hover {
                        opacity: 0.6;
                    }
                }
            }
        }

        // Right
        .images {

            padding: 40px var(--side-padding) 0 var(--side-padding);

            .title h3 {
                font-size: 2.4rem;
                text-transform: uppercase;
                display: inline-block;
                margin: 0 0 20px 0;
                border-bottom: var(--border-blk);
            }

            .images-wrapper {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                

                .artist-image {
                    width: 100%;
                    height: 300px;
                    position: relative;
                    overflow: hidden;
                    
                    .view-larger {
                        background: var(--white);
                        padding: 4px;
                        border-radius: 3px;
                        cursor: pointer;
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
                        opacity: 0;
                        transform: translateX(200px);
                        transition: all var(--quick-transition)
                    }
                }

                .artist-image:hover {

                    .view-larger {
                        opacity: 1;
                        transform: translateX(0px);
                    }
                    
                }

            }

        }

    }
}


@media screen and (max-width: 767px) {
    .single-artist {

        padding: 0px;
        
        .single-artist--wrapper {
            padding: 0px 0 0 0;
            display: flex;
            flex-direction: column;
            grid-gap: var(--side-padding);
            
            .products {
                ul.artist-products {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    display: grid;
                    grid-template-columns: repeat(2, 50%);
                }
            }

        }
    }
}