.default-collection {

    header {
        margin: 0 0 20px 0;

        h1 {
            font-size: 8vw;
            letter-spacing: -0.4vw;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }
    }

    .collection-description {
        padding: 20px 0;

        p {
            font-size: 1.8rem;
            line-height: 1.7;
        }
    }

    .product-section {

        padding: 40px 0;
        
        ul.products {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 40px 14px;
            list-style: none;
        }

    }

}


/*
---------------------------------------------------------------------------------
*/
@media screen and (max-width: 767px) {
    
    .default-collection {
        padding: 0;

        header {
            margin: 0 0 20px 0;
        }
        
        .product-section {

            padding: 20px 0;

            ul.products {
                display: flex;
                flex-direction: column;
                gap: 40px;
            }
        }
    }
}