// // Resets
// input[type="radio"] {
//     -webkit-appearance: none;
//     appearance: none;
//     background-color: var(--white);
//     margin: 0;
//     cursor: pointer;
// }
// input[type="radio"] {
//     appearance: none;
//     background-color: var(--white);
//     margin: 0;
//     font: inherit;
//     color: currentColor;
//     width: 1.15em;
//     height: 1.15em;
//     border: 0.15em solid currentColor;
//     border-radius: 50%;
//     transform: translateY(-0.075em);
//     display: grid;
//     place-content: center;
// }
    
// input[type="radio"]::before {
//     content: "";
//     width: 0.65em;
//     height: 0.65em;
//     border-radius: 50%;
//     transform: scale(0);
//     transition: 120ms transform ease-in-out;
//     box-shadow: inset 1em 1em var(--black);
//     background-color: CanvasText;
// }

// input[type="radio"]:focus {
//     outline: max(2px, 0.15em) solid currentColor;
//     outline-offset: max(2px, 0.15em);
// }

// .form-control:focus-within {
//     color: var(--black);
// }

.product-sorting {

    // Layout
    .switch-field label {
        margin-top: 1em;
        cursor: pointer;
    }

    .switch-field label {
        display: grid;
        grid-template-columns: 20px auto;
        gap: 20px;
        font-size: 1.8rem;
    }


    // Checked
    input[type="radio"]::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--black);
    }
    
    input[type="radio"]:checked::before {
        transform: scale(1);
    }

    label:has(input[type="radio"]:checked)  {

        .variant-name {
            display: inline;
            width: auto;
            text-decoration: underline;
        }
        
    }
    
}

