<div class="block-ad-wrap">
    <div class="left">

    </div>
    <div class="right">

    </div>
</div>

{% schema %}
    {
      "name": "Block Ad",
      "tag": "section",
      "class": "block-ad-section section",
      "settings": [
        {
          "type": "text",
          "id": "section_subtitle",
          "label": "Subtitle"
        },
        {
          "type": "textarea",
          "id": "section_title",
          "label": "Title"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
        },
        {
            "type": "image_picker",
            "id": "section_image",
            "label": "Image"
        },
        {
            "type": "select",
            "id": "text_placement",
            "label": "Text placement",
            "options": [
                {
                "value": "left",
                "label": "Left"
                },
                {
                "value": "right",
                "label": "Right"
                }
            ],
            "default": "left"
        }

      ],
      "presets": [{
        "name": "Block Ad"
      }]
    }
  {% endschema %}