{% comment %} 
  Hero Slideshow
  @ homepage
{% endcomment %}

<div id="hero-swiper" class="hero-swiper swiper">
  <div class="swiper-wrapper">

    <div class="swiper-product-container">
      {% for block in section.blocks %}

        <div class="swiper-slide">
          <div class="image" style="background: url('{{ block.settings.image | image_url: width: 900 }}'); background-size: cover; background-position: center center;">&nbsp;</div>
  
  
        </div>
  
      {% endfor %}
    </div>

    <div class="swiper-slide-container">
      {% for block in section.blocks %}

        <div class="swiper-slide">
          <div class="image" style="background: url('{{ block.settings.image | image_url: width: 900 }}'); background-size: cover; background-position: center center;">&nbsp;</div>
        </div>
  
      {% endfor %}
    </div>



  </div>

</div>


{% schema %}
{
  "name": "Hero",
  "tag": "section",
  "class": "hero-updated",
  "limit": 1,
  "settings": [
    {
      "type": "checkbox",
      "id": "showhide",
      "label": "Show / Hide"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "max_blocks": 1,
  "blocks": [],
  "presets": [
    {
      "name": "Hero",
      "settings": {
        "default": true
      },
      "blocks": []
    }
  ],
  "locales": {
    "en": {
      "title": "Hero"
    },
    "fr": {
      "title": "Héros"
    }
  }
}
{% endschema %}
