{% comment %} 
  Hero Slideshow
  @ homepage
{% endcomment %}

<div id="hero-swiper" class="hero-swiper swiper">
  <div class="swiper-wrapper">

    <div class="swiper-product-container">
      {% for block in section.blocks %}

        <div class="swiper-slide">

        </div>
  
      {% endfor %}
    </div>

    <div class="swiper-slide-container">
      {% for block in section.blocks %}

  
      {% endfor %}
    </div>



  </div>

</div>


{% schema %}
  {
    "name": "Hero Slideshow",
    "tag": "section",
    "class": "hero-slideshow",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_hero",
        "label": "Show Hero",
        "default": true
      }
    ],
    "blocks": [
      {
        "name": "Product",
        "type": "text",
        "settings": [
          {
            "type": "product_list",
            "id": "product",
            "label": "Product",
            "limit": 1
          }
        ]
      }
    ]
  }
{% endschema %}
