{{ 'component--merchandise.css' | asset_url | stylesheet_tag }}



  <header class="section--header">
    <div class="section--header-wrapper">
      <h2 class="title" data-aos="fade-down">
        {{ section.settings.section_title }}
      </h2>
      <a  class="view-more" 
          data-aos="fade-in"
          data-aos-delay="800"
          href="/collections/releases">
        {{ 'View more' | escape }}</a>
    </div>
  </header>

  <div class="merchandise--wrapper">
    
  
    {% if section.settings.use_default_collection == false %}
      <ul class="product-list selected-collection">
        {% for prod in collections[section.settings.merchandise_collection].products %}
          {% render 'product-card', prod: prod %}
        {% endfor %}
      </ul>
    {% elsif section.settings.use_default_collection == true %}
      <ul class="product-list default-collection">
        {% for prod in collections.merch.products %}
          {% render 'product-card', prod: prod %}
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  </ul>



{% schema %}
  {
    "name": "Merchandise",
    "tag": "section",
    "class": "merchandise-section section",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Section Title"
      },
      {
        "type": "checkbox",
        "id": "use_default_collection",
        "label": "Display default collection instead"
      },
      {
        "type": "collection",
        "id": "merchandise_collection",
        "label": "Choose a collection"
      }
    ],
    "presets": [{
      "name": "Merchandise"
    }]
  }
{% endschema %}