section.large-nav {

    --font-size: 6.6vw;

    margin-top: 40px;
    background: var(--black);
    color: var(--white);

    .large-nav--wrapper {

        padding: 100px var(--side-padding);

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            border-bottom: 2px solid var(--white);
            padding: 30px 0 10px 0;

            a {
                font-size: var(--font-size);
                font-weight: 300 !important;
                text-transform: uppercase;
                letter-spacing: -0.06em;
            }

            span.hovered-text {
                font-size: var(--font-size);
                opacity: 0;
                letter-spacing: -0.8vw;
                text-transform: uppercase;
            }

        }

        li:hover {

            span.hovered-text {
                opacity: 0.4;
            }

        }



        a:hover {
            opacity: 0.7;
        }

    }

}

@media screen and (max-width: 768px) {
    section.large-nav {
        .large-nav--wrapper {

            padding: 20px var(--side-padding) 60px var(--side-padding);
            ul {}
            li {}
            a {
                font-size: 32px;
            }
        }
    }
}