.product-card {

    .product-card-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;

        // Image
        .image {
            cursor: pointer;
            transition: var(--image-opacity-transition);
            position: relative;
            border: var(--border-blk-thin);

            img {
                max-width: 100%;
                display: block;
            }

            .view-more {
                position: absolute;
                bottom: 10px;
                right: 10px;
                background: var(--white);
                padding: 6px;
                border-radius: 4px;
                opacity: 0;
            }
        }

        .image:hover {
            opacity: 0.8;

            .view-more {
                opacity: 1;
            }
        }


        // Data
        .data {
            display: flex;
            flex-direction: column;
            gap: 3px;

            a {
                text-transform: uppercase;
            }

            .artist {
                h3 {
                    font-size: var(--16px);
                    font-family: var(--sans-serif);
                    color: var(--black);
                }
            }

            .title {
                h2 {
                    font-size: var(--16px);
                    font-family: var(--type-writer);
                    color: var(--grey);
                }
            }

            .price {
                text-align: right;
                font-size: 1.4rem;
                color: var(--grey);
                font-family: var(--type-writer);
            }

            a:hover {
                text-decoration: underline;
            }
        }

    }
}