.product-card.collection-card {
    .product-card-wrapper {

        display: flex;
        flex-direction: column;
        gap: 10px;

        .image {
            cursor: pointer;
            transition: var(--image-opacity-transition);
            position: relative;
            border: var(--border-blk);

            img {
                max-width: 100%;
                display: block;
            }

            .view-more {
                position: absolute;
                bottom: 10px;
                right: 10px;
                background: var(--white);
                padding: 6px;
                border-radius: 4px;
                opacity: 0;
            }
        }

        .image:hover {
            opacity: 0.8;

            .view-more {
                opacity: 1;
            }
        }

        .data {
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-gap: 3px;

            a {
                text-transform: uppercase;
            }

            .artist {
                h3 {
                    font-size: var(--18px);
                    font-family: var(--sans-serif);
                    color: var(--black);
                }
            }

            .title {
                h4 {
                    font-size: var(--18px);
                    font-family: var(--type-writer);
                    color: var(--grey);
                }
            }

            .price {
                font-size: var(--18px);
                color: var(--grey);
                font-family: var(--type-writer);
                text-align: right;
            }

            a:hover {
                text-decoration: underline;
            }
        }

    }
}