.product-card {

    .image {
        overflow: hidden;
        cursor: pointer;
        border: var(--border-blk-thin);

        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 1/1;
            transition: all 0.2s ease-in-out;
            display: block;
        }

        svg {
            width: 100%;
            height: 100%;
            border: 1px solid var(--black);
        }
    }
    .image:hover img {
        opacity: 0.8;
    }

    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        width: 100%;
    }

    .left {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 4px;
        padding-top: 4px;

        .artist h3 {
            text-transform: uppercase;
            font-size: var(--22px);
            color: var(--black);
            font-family: var(--sans-serif);
            letter-spacing: -2%;
        }
    
        .title h4 {
            text-transform: uppercase;
            font-size: var(--18px);
            font-family: var(--type-writer);
            color: var(--grey);
        }
    }



    .price {
        padding-top: 4px;
        font-size: var(--18px);
        color: var(--grey);
    }

    a:hover {
        text-decoration: underline;
    }

}