.product-card.collection-card {
    --font-size--vendor: 16px;
    --font-size--other: 12px;

    .product-card-wrapper {
        display: flex;
        flex-direction: column;
        gap: 6px;


        // Image
        .image {
            cursor: pointer;
            transition: var(--image-opacity-transition);
            position: relative;
            border: var(--border-blk);

            img {
                max-width: 100%;
                display: block;
            }

            .view-more {
                position: absolute;
                bottom: 10px;
                right: 10px;
                background: var(--white);
                padding: 6px;
                border-radius: 4px;
                opacity: 0;
            }
        }

        .image:hover {
            opacity: 0.8;

            .view-more {
                opacity: 1;
            }
        }


        // Data
        .data {
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-gap: 6px;

            a {
                text-transform: uppercase;
            }

            .left {
                display: flex;
                flex-direction: column;
                gap: 3px;
                align-items: flex-start;

                .artist {
                    h3 {
                        font-size: var(--font-size--vendor);
                        font-family: var(--sans-serif);
                        color: var(--black);
                    }
                }
    
                .title {
                    h4 {
                        font-size: var(--font-size--other);
                        font-family: var(--type-writer);
                        color: var(--grey);
                        letter-spacing: 0.2px;
                    }
                }
            }

            .right {

                .price {
                    text-align: right;

                    a {
                        font-size: var(--font-size--other);
                        color: var(--grey);
                        font-family: var(--type-writer);
                    }

                    a:hover {
                        text-decoration: underline;
                    }
                }
    
          
            }

        }

    }
}