.navbar-mobile--overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: var(--white);
    color: var(--black);

    .overlay-wrap {
        position: relative;
        padding: 0 20px 64px 20px;
        height: 100vh;
        overflow-y: scroll;

        .theme-mode {
            position: absolute;
            top: 20px;
            left: 20px;
            font-family: var(--type-writer);
            text-transform: uppercase;

            .dark-mode, .lite-mode {
                align-items: center;
                gap: 6px;
            }
        }

        .closer {
            position: absolute;
            top: 20px;
            right: 20px;
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            justify-content: flex-end;

            span {
                font-size: var(--18px);
                text-transform: uppercase;
            }
        }

        .logo {
            padding-top: 20%;
            margin-bottom: 40px;
            animation: fadeIn 0.5s ease-in-out;
            animation-delay: 300;

            a {
                display: block;
                text-align: center;
        
                svg {
                    width: 80%;
                    max-width: 124px;
                }
            }
        }

        nav {
            animation: fadeDownSoft 0.5s ease-in-out;

            ul.parent {
                border-top: var(--border-blk);

                li {
                    padding: 20px 0;
                    border-bottom: var(--border-blk);
                    
                    a {
                        font-size: var(--54px);
                        font-weight: thin;
                        text-transform: uppercase;
                    }
                }
            }

            ul.mobile-submenu {
                height: 0px;
                overflow: hidden;

                li {
                    border-bottom: 0px;
                    padding: 6px 0;
                }

                a {
                    color: var(--grey);
                    font-family: var(--type-writer);
                    font-size: var(--32px) !important;
                }
            }
        }

        form.search-form {
            animation: fadeIn 0.5s ease-in-out;
            animation-delay: 300;
            display: grid;
            grid-template-columns: 4fr 1fr;
            grid-gap: 10px;
            padding: 10px;
            margin-top: 30px;
            border-bottom: var(--border-blk);

            input[type="search"] {
                width: 100%;
                border: 0;
                background: transparent;
                color: var(--black);
                text-transform: uppercase;
            }

            input[type="search"]::placeholder {
                color: var(--grey);
                font-family: var(--type-writer);
            }

            button[type="submit"] {
                width: 100%;
                text-align: right;
                border: 0;
                outline: 0;
                padding: 0;
                border-radius: 0;
                background: transparent;

                svg {
                    width: 20px;
                }
            }
        }

        .social-media {
            animation: fadeIn 0.5s ease-in-out;
            animation-delay: 300;
        }

    }


}
