#hero-swiper {
    width: 100%;
    overflow: hidden;
    background: var(--black);

    .swiper-slide {
        width: 100%;
        height: 100%;
        position: relative;
        border-bottom: var(--border-blk);

    }

    /* Pagination Globals */
    .swiper-pagination {
        position: relative;
        display: flex;
        align-items: center;
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 0;
        left: 0;
    }

    .swiper-pagination-container {
        position: absolute;
        z-index: 3;
        bottom: 0;
        background: var(--white);
        color: var(--black);
        border-top: var(--border-blk);
        border-right: var(--border-blk);
        border-bottom: var(--border-blk);
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        transition: all 0.23s ease-in-out;
    }
    
    .swiper-navigation-container {
        position: absolute;
        z-index: 3;
        bottom: 0;
        // right: 0;
        background: var(--white);
        color: var(--black);
        border: var(--border-blk);
        display: grid;
        grid-template-columns: 1fr 1fr;
        transition: all 0.23s ease-in-out;
    }
    
    .swiper-pagination-bullet {
        background: transparent;
        border: 2px solid var(--black) !important;
        border-radius: 0px !important;
        opacity: 1 !important;
        padding: 4px !important;
        width: 12px;
        height: 12px;
    }

    .swiper-pagination-bullet-active {
        background: var(--black) !important;
        border: 2px solid var(--black) !important;
    }

    /* Navigation */
    .swiper-button-prev {
        position: relative;
        border-right: var(--border-blk);
    }
    .swiper-button-next {
        position: relative;
    }

    .swiper-button-next, .swiper-button-prev {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin-top: 0px;
        z-index: 10;
        cursor: pointer;
        width: 40px;
        height: 40px;
        svg {
            width: 16px;
        }
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        display: none;
    }

}

@media screen and (max-width: 767px) {
    
    #hero-swiper {
        //overflow: visible;

        .slide-box { 
            width: 90vw;
        }

        .swiper-slide {
            .image {
                width: 100%;
                height: 100dvh;
            }
        }

        /* Pagination */
        .swiper-pagination-container {
            display: none;
        }
        
        /* Navigation */
        .swiper-navigation-container {
            right: 0;
            left: 0;
            bottom: 2px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border: 0px;
            background: transparent;

            .swiper-button-prev,
            .swiper-button-next {
                background: var(--white);
            }

            .swiper-button-prev {
                border-top: var(--border-blk);
                border-right: var(--border-blk);
                border-bottom: var(--border-blk);
                border-left: 0px;
            }

            .swiper-button-next {
                border-top: var(--border-blk);
                border-left: var(--border-blk);
                border-bottom: var(--border-blk);
                border-right: 0px;
            }
        }
    }

    .swiper-pagination {
        top: auto !important;
        bottom: -30px !important;
        padding: 0px;
        text-align: center !important;
        // .swiper-pagination-bullet {
        //     background: transparent !important;
        //     border: 2px solid var(--black) !important;
        // }
        
        // .swiper-pagination-bullet-active {
        //     background: var(--black) !important;
        //     border: 2px solid var(--black) !important;
        // }
    }



}