.recommended-products { 
    margin: 30px 0 30px 0;
    padding: 0 var(--side-padding);

    .preorder-label {
        background: var(--black);
        color: var(--white);
        padding: 4px 10px;
        border: var(--border-wht);
        position: absolute;
        top: 4px;
        right: 4px;
        z-index: 3;
        font-size: 10px;
        text-transform: uppercase;
    }

    .image {
        position: relative;
    }

    .wrapper {

  
    }

    .component-title {
        margin: 0 0 16px 0;

        h3 {
            font-size: 18px;
            color: var(--black);
            text-transform: uppercase;
        }
    }

    ul.products {
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 12px;

        .image {
            border: var(--border-blk);
            cursor: pointer;
            transition: var(--image-opacity-transition);

            img {
                max-width: 100%;
                display: block;
            }
        }

        .image:hover {
            opacity: 0.8;
        }

        .data {
            text-transform: uppercase;
            display: grid;
            grid-template-columns: 1fr auto;
            grid-gap: 12px;
            padding: 6px 0 0 0;

            a:hover {
                text-decoration: underline;
            }

            .artist {
                margin: 0 0 2px 0;
                color: var(--black);
                font-size: 14px;
            }

            .title {
                display: block;
                color: var(--grey);
                font-size: 10px;
                letter-spacing: 0px;
            }

            .price {
                color: var(--grey);
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .recommended-products {
        .recommended-wrapper {
    
        }

        ul.products {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

    } 
}