/* Pagination */
.swiper-pagination-container {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(3px);
    color: var(--black);
    border: var(--border-blk);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    transition: all 0.23s ease-in-out;

    .swiper-pagination {
        position: relative;
        display: flex;
        align-items: center;
    }
}

// Hover
.swiper-pagination-container:hover {
    background: rgba(255, 255, 255, 0.9);
}

.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, 
.swiper-pagination-fraction {
    bottom: 0;
    left: 0;
}

.swiper-pagination-bullet {
    background: transparent;
    border: 2px solid var(--black) !important;
    border-radius: 0px !important;
    opacity: 1 !important;
    padding: 4px !important;
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet-active {
    background: var(--black) !important;
    border: 2px solid var(--black) !important;
}

/* Navigation */
// .swiper-navigation-container {
//     position: absolute;
//     z-index: 3;
//     bottom: 0;
//     // right: 0;
//     background: var(--white);
//     color: var(--black);
//     border-top: var(--border-blk);
//     border-left: var(--border-blk);
//     border-bottom: 0;
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     transition: all 0.23s ease-in-out;
//     border-bottom: var(--border-blk);
// }

.swiper-button-next, 
.swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    transition: all 0.23s ease-in-out;

    svg {
        width: 16px;
        stroke: var(--black);
    }
}


// Hover
.swiper-button-next:hover, 
.swiper-button-prev:hover {
    background: rgba(255, 255, 255, 0.9);
}

.swiper-button-prev {
    left: 0;
    border-top: var(--border-blk);
    border-right: var(--border-blk);
    border-bottom: var(--border-blk);
}

.swiper-button-next {
    right: 0;
    border-top: var(--border-blk);
    border-left: var(--border-blk);
    border-bottom: var(--border-blk);
}

// .swiper-button-prev::after,
// .swiper-button-next::after {
//     display: none;
// }