.block-ad-section {
    margin-top: 120px;
}

.block-ad-wrap {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0px;
    align-items: stretch;
    min-height: 800px;
    border-top: var(--border-blk);

    --title: 42px;
    --subtitle: 18px;

    .text-side {
        background-color: var(--black-no-change);
        color: var(--white-no-change);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        text-align: center;
        border-right: var(--border-blk);
    }

    a {
        text-align: center;
    }

    span {
        text-transform: uppercase;
        font-size: var(--subtitle);
    }

    h3 {
        font-size: var(--title);
        font-weight: normal;
        line-height: 116%;
        width: 85%;
    }
    
}

@media screen and (min-width: 1800px) {
    .block-ad-wrap {
        --title: 42px;
        --subtitle: 16px;

        h3 {
            line-height: 112%;
            width: 80%;
        }
    }
}

@media screen and (max-width: 767px) {

    .block-ad-section {
        margin-top: 60px;

    }

    .block-ad-wrap {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50vh 50vh;
        min-height: auto;

        --title: 32px;
        --subtitle: 16px;

        .text-side {
            border-right: 0;
            border-bottom: var(--border-blk);
        }

        h3 {
            width: 90%;
        }
    }
}