.latest-products-section {
    padding-top: 40px; 

    .latest-products--wrapper {
        padding: 0 var(--side-padding);
        width: 100%;
        
        ul.product-list {
            list-style: none;
            margin: 0px;
            padding: 0px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 30px 1%;
        }

    }

}


@media screen and (min-width: 1200px) {

    

}

@media screen and (max-width: 768px) {

    .latest-products-section {
        margin: 0 0 60px 0;
        
        .latest-products--wrapper {

            ul.product-list {
                grid-template-columns: 1fr 1fr;
                grid-gap: 30px 3%;
            }
        }
    }
}