.slide__announcement {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    height: 100%;
    border-bottom: var(--border-blk);

    --title: 42px;
    --subtitle: 18px;

    .slide-image {
        width: 100%;
        height: 100svh;
        object-fit: cover;
    }

    .slide-content {
        background-color: var(--black-no-change);
        color: var(--white-no-change);
        border-right: var(--border-blk);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        text-align: center;
    }

    span {
        text-transform: uppercase;
        font-size: var(--subtitle);
    }

    h2 {
        font-size: var(--title);
        font-weight: normal;
        margin: 0 auto;
        line-height: 116%;
        width: 85%;
    }

}

/*
*
* Large Screens
*
*/
@media screen and (min-width: 1800px) {

    .slide__announcement {
        --title: 42px;
        --subtitle: 16px;
    
        .announcement-subtitle {
            span {
                max-width: 100%;
            }
        } 
    
        .announcement-content {
            h2 {
                line-height: 112%;
                width: 80%;
            }
        }
    
    }

}

/*
*
* Small Screens
*
*/
@media screen and (max-width: 767px) {
    
    .slide__announcement {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: calc(100svh - 70px);

        --title: 36px;
        --subtitle: 14px;
        
        .slide-content {
            border-top: var(--border-blk);
            border-bottom: var(--border-blk);
            border-right: 0;
        }
        
        .slide-image {
            height: 100%;
        }
    }

}