#hero-swiper {
    .slide__product.swiper-slide {
        display: grid;
        grid-template-columns: 22vw 1fr;
        align-items: stretch;
        border-bottom: var(--border-blk);
        position: relative;
        
        .left {
            border-right: var(--border-blk);
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--white);
    
            .left-wrapper {
                padding: 0 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
    
                .hero-product {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .product-image {
                        max-width: 240px;
        
                        img {
                            height: auto;
                            max-width: 100%;
                        }
                    }
                    
        
                    .data {
                        display: flex;
                        flex-direction: column;
                        gap: 6px;
                    }
                    .product-vendor {
                        font-size: var(--30px);
                        color: var(--black);
        
                        a:hover {
                            text-decoration: underline;
                        }
                    }
        
                    .product-title {
                        font-size: var(--18px);
                        font-family: var(--type-writer);
                        color: var(--grey);
        
                        a:hover {
                            text-decoration: underline;
                        }
                    }
        
                    .product-variants {
                        font-size: var(--18px);
                        font-family: var(--type-writer);
                        text-transform: uppercase;
                        color: var(--grey);
        
                        ul {
                            list-style: none;
                            margin: 0;
                            padding: 0;
                            display: flex;
                            flex-direction: row;
                            align-items: flex-start;
                            justify-content: flex-start;
                            gap: 4px;
        
                            a:hover {
                                text-decoration: underline;
                            }
                        }
                    }
        
                    .actions {
                        padding-top: 14px;
                        gap: 10px;
        
                        a.button {
                            display: inline-block;
                            text-transform: uppercase;
                            font-size: var(--22px);
                            background: #D9D9D9;
                            padding: 10px 20px;
                            white-space: nowrap;
                        }
        
                        a.button:hover {
                            background: var(--black);
                            color: var(--white);
                        }
                    }
                }
    
            }
    
        }
    
        .right {
            .image {
                width: 100%;
                height: 100svh;
            }
        }
    
    }
    
    
    /* Pagination */
    .swiper-pagination-container[data-slide-type="product"] {
        position: absolute;
        z-index: 3;
        bottom: 0;
        left: 22vw;
        background: var(--white);
        color: var(--black);
        border-top: var(--border-blk);
        border-right: var(--border-blk);
        border-bottom: var(--border-blk);
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        transition: all 0.23s ease-in-out;
    }
    
    /* Navigation */
    .swiper-navigation-container[data-slide-type="product"] {
        position: absolute;
        z-index: 3;
        bottom: 0px;
        right: 0;
        background: var(--white);
        color: var(--black);
        border: var(--border-blk);
        display: grid;
        grid-template-columns: 1fr 1fr;
        transition: all 0.23s ease-in-out;
    }
}

/*
----------------------------------------------------------------
*/
@media screen and (max-width: 767px) {
    
    #hero-swiper {
        overflow: visible;

        .slide-box { 
            width: 90vw;
        }

        .swiper-slide {
            height: 100svh;
        }

        .slide__product.swiper-slide {
            display: flex;
            flex-direction: column-reverse;

            .left {
                padding: 30px var(--side-padding) 60px var(--side-padding);
                border-top: var(--border-blk);
                border-right: 0px;
                height: 30svh;

                .left-wrapper {

                    .hero-product {
                        gap: 5px;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        align-items: center;
                        gap: 30px;
                        
                        .product-image {
                            max-width: 400px;
            
                            img {
                                height: auto;
                                max-width: 100%;
                            }
                        }

                    }
                }
                
            }

            .right {
                width: 100%;
                height: 70svh;

                .image {
                    height: 100%;
                }
            }
        }

        /* Pagination */
        .swiper-pagination-container[data-slide-type="product"] {
            display: none;
        }

        /* Navigation */
        .swiper-navigation-container[data-slide-type="product"] {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background: transparent;
            border: 0px;
            bottom: 2px;
        }

    }


}