.recommended-products {
    margin: 30px 0 0 0;

    .recommended-wrapper {

        .title {
            h3 {
                font-size: var(--32px);
                text-transform: uppercase;
            }
        }

        ul.products {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

@media screen and (max-width: 767px) {
    .recommended-products {
        .recommended-wrapper {
    
            ul.products {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }
    } 
}