#hero-swiper {
    width: 100%;
    overflow: hidden;
    background: var(--black);

    .swiper-slide {
        width: 100%;
        height: 100%;
        position: relative;
        border-bottom: var(--border-blk);

    }

}

/*
*
* Large Screens
*
*/
@media screen and (min-width: 1200px) {

}

/*
*
* Mobile
*
*/
@media screen and (max-width: 767px) {
    
    #hero-swiper {
        //overflow: visible;

        .slide-box { 
            width: 90vw;
        }

        .swiper-slide {
            .image {
                width: 100%;
                height: 100dvh;
            }
        }

        /* Pagination */
        .swiper-pagination-container {
            display: none;
        }
        
        /* Navigation */
        .swiper-navigation-container {
            right: 0;
            left: 0;
            bottom: 0px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border: 0px;
            background: transparent;

            .swiper-button-prev,
            .swiper-button-next {
                background: var(--white);
            }

            .swiper-button-prev {
                border-top: var(--border-blk);
                border-right: var(--border-blk);
                border-bottom: var(--border-blk);
                border-left: 0px;
            }

            .swiper-button-next {
                border-top: var(--border-blk);
                border-left: var(--border-blk);
                border-bottom: var(--border-blk);
                border-right: 0px;
            }
        }
    }

    .swiper-pagination {
        top: auto !important;
        bottom: -30px !important;
        padding: 0px;
        text-align: center !important;
        // .swiper-pagination-bullet {
        //     background: transparent !important;
        //     border: 2px solid var(--black) !important;
        // }
        
        // .swiper-pagination-bullet-active {
        //     background: var(--black) !important;
        //     border: 2px solid var(--black) !important;
        // }
    }



}