.current-artists-section {

    /* Artists */
    .current-artists--wrapper {
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        padding: 0 var(--side-padding) 0px var(--side-padding);

        ul.current-artists--list {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            gap: 12px;
            min-width: 100%;
            overflow-x: scroll;
            padding: 0 0 60px 0;
            list-style: none;
        }
        // Scrollbar
        ul.current-artists--list::-webkit-scrollbar {
            width: 0px;
        }
         
        ul.current-artists--list::-webkit-scrollbar-track {
            //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            // border-bottom: var(--border-blk);
        }
         
        ul.current-artists--list::-webkit-scrollbar-thumb {
          background-color: transparent;
          outline: 0px;
        }

        ul.current-artists--list.active {
            cursor: grabbing;
        }

    }

    
}

@media screen and (max-width: 767px) {
    
    .current-artists-section {
        .current-artists--wrapper {
            li {
                .image {
                    overflow: hidden;
                    aspect-ratio: 1/1;
                    width: 280px;
                }

            }
        }
    }

}