.latest-products-section {
    padding-top: 40px; 

    .latest-products--wrapper {
        padding: 0 var(--side-padding);
        width: 100%;
        
        ul.product-list {
            list-style: none;
            margin: 0px;
            padding: 0px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 10px;
        }

    }

}

@media screen and (max-width: 768px) {

    section.latest-products {

        .latest-products--wrapper {

            ul.product-list {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}