.cart-page {
    padding: 100px 0 0 0;

    .cart-wrapper {

        header {
            width: 100%;
            padding: 20px var(--side-padding);
    
            h2.title {
                display: inline-block;
                font-size: var(--32px);
                color: var(--black);
                letter-spacing: -7%;
                line-height: 0.1;
                text-transform: uppercase;
                padding-bottom: 18px;
                border-bottom: var(--border-blk);
            }
    
            .section--header-wrapper {
                width: 100%;
            }
        }

        /* Cart Empty */
        .cart-empty {

            .empty-wrapper {
                padding: 60px var(--side-padding);
                font-family: var(--type-writer);
                color: var(--black);
                text-transform: uppercase;
            }

            .continue-shopping {
                padding: 0px var(--side-padding);
                
                a {
                    display: inline-block;
                    background: var(--black);
                    color: var(--white);
                    padding: 10px 20px;
                    border: var(--border-blk);
                }
                
                a:hover {
                    background: var(--white);
                    color: var(--black);
                }
            }
        }

        /* Cart with Items */
        .cart-holder {
            padding: 40px var(--side-padding) 40px var(--side-padding);

            ul.items-wrapper {
                display: flex;
                flex-direction: column;
                gap: 20px;
                border-top: var(--border-blk);
                padding: 20px 0 0 0;


                li.cart-item {
                    display: grid;
                    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
                    grid-gap: 12px;
                    align-items: center;
                    border-bottom: var(--border-blk);
                    padding: 0 0 20px 0;
                    font-size: 1.8rem;
                    color: var(--black);

                    .price {
                        text-align: center;
                    }

                    .title {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        

                        // Vendor
                        h3 {
                            text-transform: uppercase;
                            text-align: left;
                        }

                        // Title
                        h2 {
                            font-family: var(--type-writer);
                            text-align: left;
                        }

                        ul {
                            list-style: none;
                            font-family: var(--type-writer);
                            text-transform: uppercase;
                        }

                    }

                    .quantity {
                        text-align: center;

                        input[type=number] {
                            background: var(--white);
                            width: auto;
                            max-width: 6rem;
                            display: inline;
                            border-radius: 6px;
                            padding: 10px;
                            border: var(--border-gry);
                            outline: 0px;
                            text-align: center;
                        }
                        input[type=number]::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                        }
                    }

                    .delete {
                        text-align: right;
                    }
                }
            }
            
        }


        .update-cart-holder {
            padding: 14px 0;

            .update-cart-button {
                background: var(--white);
                color: var(--black);
                display: inline;
                border-radius: 0px;
                padding: 10px;
                border: var(--border-blk);
                outline: 0px;
                text-align: center;
                cursor: pointer;
            }
            .update-cart-button:disabled {
                cursor: not-allowed;
                opacity: 0.6;
            }
        }

        .cart-totals {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-bottom: var(--border-blk);
            padding: 20px 0;
            font-size: 1.8rem;
            color: var(--black);
            text-transform: uppercase;

            .subtotal {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
            }
        }

        .additional-notes-holder {
            color: var(--black);

            details {
                list-style: none;
            }

            summary::-webkit-details-marker {
                display: none !important;
            }

            details summary > * { 
                display: inline;
            }

            summary {
                list-style: none;
                border-bottom: 1px solid var(--black);
                padding: 20px 0px 10px 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                text-transform: uppercase;
                font-size: 1.8rem;

                .indicator {
                    border: 2px solid var(--black);
                    background: transparent;
                    width: 14px;
                    height: 14px;
                    aspect-ratio: 1/1;
                    display: inline-block;
                }

            }

            .details-body {
                padding: 10px 0;
                line-height: 1.5;
                font-size: 1.82rem;
            }

            details[open] {
                .indicator {
                    background: var(--black);
                }
            }

            summary:hover .indicator {
                background: var(--black);
            }
            
            label {
                font-size: 1.8rem;
            }
            textarea {
                width: 100%;
                max-width: 100%;
                min-height: 150px;
                max-height: 300px;
            }
        }

        .checkout-holder {
            padding: 20px 0;

            .checkout-button {
                background: var(--black);
                color: var(--white);
                border: 0px;
                border-radius: 4px;
                outline: 0px;
                padding: 20px 10px;
                font-size: 2rem;
                text-transform: uppercase;
                                                                
                text-align: center;
                width: 100%;
                cursor: pointer;
                transition: all 0.24s ease-in-out;
            }

            .checkout-button:hover {
                opacity: 0.8;
            }
        }

        .additional-checkout-holder {
            color: var(--black);
        }
    }

}

@media screen and (max-width: 767px) {


    .cart-page {
        padding-top: 60px;

        .cart-wrapper {
            .cart-holder {
                padding: 20px var(--side-padding) 40px var(--side-padding);

                li.cart-item {
                    grid-template-columns: 2fr 4fr 1fr 30px;

                    .vendor {
                        text-align: left;
                    }

                    .variants {
                        display: none;
                    }

                    .image {
                        display: none;
                    }

                    .price {
                        display: none;
                    }

                }
            }
        }
    }
}