.blog-post {
    .blog-post-wrapper {
        min-height: 100dvh;

        article {
            padding: 0px var(--side-padding);

            header {
                padding: 0 0 50px 0;

                .meta {
                    font-size: 1.6rem;
                    font-family: var(--type-writer);
                    color: var(--black);
                    text-transform: uppercase;
                    padding: 10px 0;
                }

                h1 {
                    font-size: 6rem;
                    color: var(--black);
                }
    
            }


            .article-body {
                border-top: var(--border-gry);
                padding: 40px 0;
                font-size: 2rem;
                color: var(--black);

                iframe {
                    width: 100%;
                    height: 80vh;
                }
            }

        }
    }
}