.single-product.music {
    //padding-top: 78px;

    /* 1 */
    .product-section-one {


        .product-section-wrapper {


            .right {

                .band-name {
                    margin: 0 0 6px 0;

                    h2 {
                        font-size: var(--40px);
                        color: var(--black);
                    }
                }

            }
        }

    }

    /* 2 */
    .product-section-two {
        margin-top: 30px;

        .product-section-wrapper {
            display: grid;
            grid-template-columns: 58% 1fr;
            grid-gap: 80px;

            h3 {
                font-size: var(--18px);
                color: var(--black);
                margin-bottom: 21px;
                text-transform: uppercase;
            }

            .left {
                padding-left: var(--side-padding);

                .description {
                    border-top: var(--border-blk);
                    padding-top: 24px;
                    font-size: var(--18px);
                    color: var(--black);
                    line-height: 176%;
                }

                .media {
                    margin: 80px 0 0 0;
                    border-top: var(--border-blk);
                    padding-top: 24px;
                    padding-bottom: 40px;

                    .media-wrapper {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-gap: 40px 20px;

                        iframe {
                            width: 100%;
                            max-width: 100%;
                            border: var(--border-blk);
                        }

                    }
                }

            }
    
            .right {
                padding-bottom: 40px;
                padding-right: var(--side-padding);

                .tracklisting {
                    border-top: var(--border-blk);
                    padding-top: 24px;
                    padding-right: var(--side-padding);
                    margin: 0 0 30px 0;

                    ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        counter-reset: tracklist;

                        li {
                            font-family: var(--type-writer);
                            font-size: var(--18px);
                            color: var(--black);
                            text-transform: uppercase;
                            counter-increment: tracklist;

                            span.counter::after {
                                content: counter(tracklist);
                            }
                        }


                    }
                }

                .meta-block {
                    border: var(--border-blk);
                    padding: 32px;
                    display: flex;
                    flex-direction: column;
                    gap: 50px;

                    span {
                        font-size: var(--18px);
                        font-family: var(--type-writer);
                        color: var(--black);
                    }

                    span.title {
                        display: block;
                        margin: 0 0 14px 0;
                        font-size: var(--20px);
                        font-family: var(--sans-serif);
                        color: var(--black);
                    }

                    ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        gap: 8px;

                        li {
                            font-family: var(--type-writer);
                            text-transform: uppercase;
                            font-size: var(--16px);
                            color: var(--black);
                        }
                    }
                }

                .link-block {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 8px;
                    margin-top: 20px;

                    .link {

                        a {
                            display: block;
                            font-size: var(16px);
                            color: var(--black);
                            border: var(--border-blk);
                            padding: 22px 32px;
                        }
                    }

                }

            }
        }

    }

}

/*
----------------------------------------------------------------
*/
@media screen and (max-width: 767px) {
    
    .single-product.music {
        //padding-top: 72px;

        /* 1 */
        .product-section-one {
            .product-section-wrapper {
                display: flex;
                flex-direction: column;
                gap: 30px;

                .left {
                    width: 100%;

                    .product-gallery-swiper {
                        height: 100%;


                    .preorder-status {

                        span {
                            font-size: 12px;
                            width: 80px;
                            height: 80px;
                        }
                    }
                    }
                }

                .right {
                    width: 100%;
                    padding: 0 var(--side-padding);
                }
            }
        }

        /* 2 */
        .product-section-two {
            margin-top: 30px;

            .product-section-wrapper {
                display: flex;
                flex-direction: column-reverse;
                gap: 30px;

                .left {
                    padding: 0 var(--side-padding);

                    .media {
                        .media-wrapper {
                            grid-template-columns: 1fr;
                            grid-gap: 20px;
                        }
                    }

                }

                .right {
                    padding: 0 var(--side-padding);
                }
            }
        }
    }
}