.single-product.music {
    padding-top: 78px;

    /* 1 */
    .product-section-one {
        width: 100%;
        max-width: 100%;
        border-top: var(--border-blk);

        .product-section-wrapper {
            display: grid;
            grid-template-columns: 58% 1fr;
            align-items: center;
            gap: 80px;

            .left {
                
                .product-gallery-swiper {
                    position: relative;

                    .preorder-status {
                        position: absolute;
                        top: 20px;
                        right: 20px;
                        z-index: 44;

                        span {
                            background: var(--white);
                            color: var(--black);
                            border-radius: 50%;
                            text-transform: uppercase;
                            font-size: 16px;
                            width: 120px;
                            height: 120px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    .swiper-slide {
                        position: relative;
                        border-right: var(--border-blk);
                        border-bottom: var(--border-blk);

                        .view-larger {
                            transform: translateX(-40px);
                            opacity: 0;
                            position: absolute;
                            bottom: 50px;
                            right: 10px;
                            z-index: 999;
                            transition: all 0.24s ease-in-out;
                            cursor: pointer;
                            font-size: 1.4rem;
                            font-family: var(--type-writer);
                            text-transform: uppercase;
                            background: var(--white);
                            color: var(--black);
                            padding: 4px;
                            border-radius: 3px;
                        }
                    }

                    .swiper-slide:hover {
                        .view-larger {
                            transform: translateX(0px);
                            opacity: 1;
                        }
                    }

                    img {
                        width: 100%;
                        max-width: 100%;
                        display: block;
                    }

                    /* Pagination */
                    .product-gallery-pagination-container {
                        position: absolute;
                        z-index: 3;
                        bottom: 0;
                        left: 0;
                        width: auto;
                        background: var(--white);
                        color: var(--black);
                        border-top: var(--border-blk);
                        border-right: var(--border-blk);
                        border-bottom: var(--border-blk);
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0 20px;
                        transition: all 0.23s ease-in-out;

                        .swiper-pagination-bullet {
                            background: var(--white);
                            border: 2px solid var(--black) !important;
                        }

                        .swiper-pagination-bullet-active {
                            background: var(--black) !important;
                            border: 2px solid var(--black) !important;
                        }
                    }
                    
                    /* Navigation */
                    .product-gallery-navigation-container {
                        position: absolute;
                        z-index: 3;
                        bottom: 0;
                        right: 0;
                        background: var(--white);
                        color: var(--black);
                        border: var(--border-blk);
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        transition: all 0.23s ease-in-out;

                        .product-gallery-prev {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 40px;
                            height: 40px;
                            cursor: pointer;
                        }

                        .product-gallery-next {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 40px;
                            height: 40px;
                            border-left: var(--border-blk);
                            cursor: pointer;
                        }

                    }

                }
            }

            .right {
                padding: 0 var(--side-padding) 0 0;

                .band-name {
                    margin: 0 0 6px 0;

                    h2 {
                        font-size: var(--40px);
                    }
                }

                .product-title {
                    h1 {
                        font-size: var(--40px);
                    }
                }

                h3 {
                    display: block;
                    width: 100%;
                    font-size: var(--16px);
                    text-transform: uppercase;
                    letter-spacing: 0px;
                    margin-bottom: 16px;
                    text-align: left;
                }

                .actions {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-end;
                    padding: 30px 0 0 0;

                    .price {
                        font-size: var(--45px);
                    }

                    #product-add {
                        
                        .preorder-status {
                            text-transform: uppercase;
                            font-family: var(--type-writer);
                            display: block;
                            margin: 0 0 6px 0;
                            text-align: right;
                        }

                        input[type="submit"] {
                            background-color: var(--black);
                            color: var(--white);
                            padding: 10px 40px;
                            outline: 0;
                            border: var(--border-blk);
                            text-transform: uppercase;
                            cursor: pointer;
                        }

                        input[type="submit"]:hover {
                            background-color: var(--white);
                            color: var(--black);
                        }
                    }
                }

                #purchase-options {
        
                    .wrapper {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                        margin: 40px auto 0 auto;
                        border-top: var(--border-blk);
                        padding: 24px 0 0 0;
                    }
        
                    #product-variants {
                        width: 100%;
                        padding-top: 20px;

                        ul {
                            width: 100%;
                            list-style: none;
                            display: flex;
                            flex-direction: column;
                            gap: 16px;
        
                            li {
                                font-family: var(--type-writer);
                                text-transform: uppercase;
                                font-size: var(--14px);

                                label {
                                    display: flex;
                                    align-items: center;
                                    gap: 8px;
                                    font-size: var(--18px);
                                    cursor: pointer;
                                }

                                input[type="radio"] {
                                    appearance: none;
                                    width: 15px;
                                    height: 15px;
                                    border: var(--border-blk-thin);
                                    border-radius: 50%;
                                    margin: 0;
                                }

                                input[type="radio"]:checked {
                                    background: var(--black);
                                }

                            }
        
                            li:hover {
                                label {
                                    text-decoration: underline;
                                }
                            }
                        }
        
                    }
        
                    #product-add {
                        width: 100%;
        
                        input {
                            width: 100%;
                            background: var(--white);
                            color: var(--black);
                            padding: 16px 20px;
                            cursor: pointer;
                            border: 0px;
                            outline: 0px;
                            border-radius: 0px;
                            font-family: var(--type-writer);
                            text-transform: uppercase;
                            font-size: 1.8rem;
                            letter-spacing: 0px;
                            transition: 0.24s ease-in-out;
                        }
                        input:hover {
                            opacity: 0.8;
                            text-decoration: underline;
                        }
                    }
        
                }
            }
        }

    }

    /* 2 */
    .product-section-two {
        margin-top: 30px;

        .product-section-wrapper {
            display: grid;
            grid-template-columns: 58% 1fr;
            grid-gap: 80px;

            h3 {
                font-size: var(--18px);
                margin-bottom: 21px;
                text-transform: uppercase;
            }

            .left {
                padding-left: var(--side-padding);

                .description {
                    border-top: var(--border-blk);
                    padding-top: 24px;
                    font-size: var(--18px);
                    line-height: 176%;
                }

                .media {
                    margin: 80px 0 0 0;
                    border-top: var(--border-blk);
                    padding-top: 24px;
                    padding-bottom: 40px;

                    .media-wrapper {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-gap: 40px 20px;

                        iframe {
                            width: 100%;
                            max-width: 100%;
                        }

                    }
                }

            }
    
            .right {
                padding-bottom: 40px;
                padding-right: var(--side-padding);

                .tracklisting {
                    border-top: var(--border-blk);
                    padding-top: 24px;
                    padding-right: var(--side-padding);
                    margin: 0 0 30px 0;

                    ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        counter-reset: tracklist;

                        li {
                            font-family: var(--type-writer);
                            font-size: var(--18px);
                            text-transform: uppercase;
                            counter-increment: tracklist;

                            span.counter::after {
                                content: counter(tracklist);
                            }
                        }


                    }
                }

                .meta-block {
                    border: var(--border-blk);
                    padding: 32px;
                    display: flex;
                    flex-direction: column;
                    gap: 50px;

                    span {
                        font-size: var(--18px);
                        font-family: var(--type-writer);
                    }
                    span.title {
                        display: block;
                        margin: 0 0 14px 0;
                        font-size: var(--20px);
                        font-family: var(--sans-serif);
                    }

                    ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        gap: 8px;

                        li {
                            font-family: var(--type-writer);
                            text-transform: uppercase;
                            font-size: var(--16px);
                        }
                    }
                }

                .link-block {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 8px;
                    margin-top: 20px;

                    .link {

                        a {
                            display: block;
                            font-size: var(16px);
                            border: var(--border-blk);
                            padding: 22px 32px;
                        }
                    }

                }

            }
        }

    }

}

/*
----------------------------------------------------------------
*/
@media screen and (max-width: 767px) {
    
    .single-product.music {
        padding-top: 72px;

        /* 1 */
        .product-section-one {
            .product-section-wrapper {
                display: flex;
                flex-direction: column;
                gap: 30px;

                .left {
                    width: 100%;

                    .product-gallery-swiper {
                        height: 100%;
                    }
                }

                .right {
                    width: 100%;
                    padding: 0 var(--side-padding);
                }
            }
        }

        /* 2 */
        .product-section-two {
            margin-top: 30px;

            .product-section-wrapper {
                display: flex;
                flex-direction: column-reverse;
                gap: 30px;

                .left {
                    padding: 0 var(--side-padding);

                    .media {
                        .media-wrapper {
                            grid-template-columns: 1fr;
                            grid-gap: 20px;
                        }
                    }

                }

                .right {
                    padding: 0 var(--side-padding);
                }
            }
        }
    }
}