
.sorting {
    --input-padding: 5px;
    --title-font-size: 2.4rem;
}

// ======================================================= 
.product-sorting {
    width: 100%;
    margin: auto;
    border-top: var(--border-gry);
    border-bottom: var(--border-gry);
    appearance: none;

    details summary > * {
        display: inline;
    }

    summary {
        display: inline-block;
        width: 100%;
        padding: 20px 0;
        cursor: pointer;

        .summary-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .title {
                h2 {
                    font-size: 2.4rem;
                    display: block;
                    text-transform: uppercase;
                    // margin: 14px 0 0 0;
                }

                h2:hover {
                    text-decoration: underline;
                }
            }

            .active-filters {
        
                ul {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    list-style: none;
                    font-size: 1.6rem;
        
                    li {
                        border: var(--border-gry);
                        padding: 6px 0 6px 12px;
                        border-radius: 7px;

                        span.icon {
                            margin-left: 10px;
                            padding: 6px 10px;
                            border-radius: 4px;
                            background: var(--grey-light)
                        }
                    }

                    li.clear-all {
                        border: 0;
                        display: none;
                    }

                }

                a:hover {
                    text-decoration: underline;
                }
            }

        }


    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 0 20px 0;

        h3 {
            font-size: var(--title-font-size);
            display: block;
            text-transform: uppercase;
            margin: 14px 0 0 0;
        }
    
        input,
        select,
        label {
            font-family: var(--type-writer);
            font-size: 1.3rem;
        }
        label {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
    
        label:has(input:disabled) {
            cursor: not-allowed;
            opacity: 0.6;
        }

        .center {
            padding: 0 20px 0 0;
            position: relative;
            border-right: var(--border-gry);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .center-wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr;

                fieldset {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }
            }

            .filter-blocks {

                .block-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-end;
                    gap: 20px;
                    padding-top: 20px;
                }

                .block {
                    // padding: 40px;
                    // border: 1px solid #dfe1e5;
                    // border-radius: 24px;
                    width: 100%;
                }

                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    font-size: 1.4rem;
                    overflow-y: scroll;
                    height: 100px;
                }

                // INPUTS
                input[type="checkbox"] {
                    border-radius: 50%;
                    // appearance: none;
                    width: 1.15em;
                    height: 1.15em;
                    border: 1px solid var(--black);
                }

                input[type="number"] {
                    max-width: 8rem;
                    padding: var(--input-padding);
                    border-radius: 4px;
                    background: #fff;
                    border: 1px solid #dfe1e5;
                }

                input[type="number"]::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }

                input[type="submit"] {
                    padding: var(--input-padding);
                    border-radius: 4px;
                    background: #ffffff;
                    color: var(--black);
                    border: 1px solid #dfe1e5;
                    cursor: pointer;
                    transition: 0.24s ease-in-out;
                    width: 100%;
                    display: block;
                    margin-top: 10px;
                }

                input[type="submit"]:hover {
                    background: var(--grey-light);
                }

                // Price Range
                .price-range {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 40px;

                    input[type="number"] {
                        max-width: 100%;
                        width: 100%;
                    }

                    div {
                        display: grid;
                        grid-template-columns: auto 1fr 20px;
                        grid-gap: 4px;
                        align-items: center;
                        font-size: 1.6rem;
                    }
                }
                
                label.sort-by {
                    display: flex;
                    flex-direction: row;
                    gap: 4px;
                }


            }
        }

        .right {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .artists h3 {
                margin-left: 20px;
            }
            .search h3 {
                margin-left: 20px;
            }

            form.search-form {
                
                display: grid;
                grid-template-columns: 4fr 1fr;
                margin: 20px;   
                width: calc(100% - 40px); 

                input[type="search"] {
                    padding: var(--input-padding);
                    border-radius: 4px;
                    background: #ffffff;
                    border: 1px solid #dfe1e5;
                }
                input[type="submit"] {
                    padding: var(--input-padding);
                    border-radius: 4px;
                    color: var(--black);
                    background: #ffffff;
                    border: 1px solid #dfe1e5;
                    cursor: pointer;
                    transition: 0.24s ease-in-out;
                }
                input[type="submit"]:hover {
                    background: var(--grey-light);
                }
            }

            select {
                margin: 20px;   
                width: calc(100% - 40px); 
                padding: var(--input-padding);
                border-radius: 4px;
                background: white;
                border: 1px solid #dfe1e5;
                color: var(--black);
            }

            .separator {
                width: calc(100% - 40px);
                margin: 10px 20px;
                height: 2px;
                background: var(--grey-light);
            }
        }

    }

}


.single-collection-sorting {
    .wrapper {
        display: flex;
        flex-direction: column;

        h3 {
            font-size: var(--title-font-size);
            display: block;
            text-transform: uppercase;
            margin: 14px 0 0 0;
        }

        fieldset {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: nowrap;

            label {
                display: flex;
                flex-direction: row;
                gap: 12px;
            }
        }
    }
}
/*
-----------------------------------------------------------------------
*/
@media screen and (max-width: 767px) {
    
    .product-sorting {
        width: 100%;

        .wrapper {
            display: flex;
            flex-direction: column;
            padding: 0px var(--side-padding);

            h3 {
                margin: 14px 0 0px 0px;
            }

            .center {
                border-right: 0px;
                border-bottom: var(--border-gry);
                padding: 0px;
    
                .center-wrapper {
                    grid-template-columns: 1fr;
    
                    fieldset {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        border-bottom: var(--border-gry);
        
                        label {
                            margin: 0 0 14px 0;
                        }
                    }
                }
    
                .filter-blocks {
                    padding: 0;
    
                    .block-wrapper {
                        justify-content: center;
                        .filters {
    
                            .price-range {
                                margin-top: 0px;
                                // border-top: var(--border-gry);
                                // padding-top: 20px;
    
                            }
    
                        }
                    }
    
                    ul {
                        height: 150px;
                    }
                }
            }
    
            .right {
                
                form.search-form,
                select {
                    margin: 20px 0 0 0;   
                    width: 100%; 
                }
    
                .separator {
                    width: 100%;
                    margin: 20px 0px 10px 0;
                    height: 2px;
                    background: var(--grey-light);
                }

                .search {
                    h3 {
                        margin-left: 0px;
                    }
                }
    
                .artists {
                    padding: 0 0 20px 0;

                    h3 {
                        margin-left: 0px;
                    }
                }
    
            }

        }

    }

}