@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:wght@500;600&display=swap');

html {
    background-color: var(--white-dim);
}

@keyframes preorder-flash {
    0% { opacity: 0.8; }
    50% { opacity: 1;}
    100% { opacity: 0.8;}
}

@keyframes slideRight {
    0% { opacity: 0; transform: translateX(100%);}
    100% { opacity: 1; transform: translateX(0%); }
}

/* Icons */
.icon--view-more {
    width: 20px;
    height: 20px;
}