footer {
    background-color: var(--white);
    color: var(--black);
    border-top: var(--border-blk);
}


.footer-wrap {
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom: var(--border-blk);

    .footer-block {
        padding: 10px 30px;
    }

    .left {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;

        .logo-column {
            border-right: var(--border-blk);
            display: flex;
            align-items: center;
        }

        .link-block {
            position: relative;
            border-right: var(--border-blk);

            .block-title {
                text-transform: uppercase;
                display: block;
                margin: 0 0 20px 0;
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                gap: 6px;

                a {
                    text-transform: uppercase;
                }
            }
        }
    }

    .right {
        position: relative;

        form {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        input[type="email"] {
            background: transparent;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-bottom: var(--border-blk-thin);
            width: 80%;
            font-family: var(--type-writer);
            text-transform: uppercase;
        }

        input[type="email"]::placeholder {
            color: #828282;
        }

        input[type="submit"] {
            text-transform: uppercase;
            background: transparent;
            border: 0;
            outline: 0;
            padding: 0;
            display: block;
            margin: 14px 0 0 0;
        }

        .attribution {
            position: absolute;
            bottom: 10px;
            right: 10px;
            font-size: var(--12px);
            letter-spacing: 0px;
        }

    }
}





@media screen and (max-width: 767px) {
 
    .footer-wrap {
        display: grid;
        grid-template-columns: 100%;
        border-bottom: 0;

        .left {
            border-bottom: var(--border-blk);
            border-right: 0;

            .link-block:last-of-type {
                border-right: 0;
            }
        }

        .right {
            padding-bottom: 20px;
        }
    }

}