header.header-with-link {

    .header-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h1 {
            font-size: 8vw;
            letter-spacing: -0.4vw;
        }

        a {
            font-family: var(--type-writer);
            text-transform: uppercase;
        }
        
    }   

}