section.section {

    /* Header */
    header.section--header {

        padding: 60px var(--side-padding) 30px var(--side-padding);

        .section--header-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }

        h2.title {
            display: inline-block;
            font-size: var(--32px);
            color: var(--black);
            letter-spacing: -7%;
            line-height: 0.1;
            text-transform: uppercase;
            padding-bottom: 18px;
            border-bottom: var(--border-blk);
        }

        a.view-more {
            font-size: var(--18px);
            color: var(--black);
            text-transform: uppercase;
        }
        a.view-more:hover {
            text-decoration: underline;
        }

    }
}

@media screen and (max-width: 768px) {

    section.section {
        // margin: 0;

        /* Header */
        header.section--header {
            padding: 30px var(--side-padding) 30px var(--side-padding);
    
            h2.title {
                font-size: 2.4rem;
            }

            a.view-more {
                font-size: 1.8rem;
            }
        }
    }

}