/* Pagination Globals */
.swiper-pagination {
    position: relative;
    display: flex;
    align-items: center;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0;
    left: 0;
}

.swiper-pagination-bullet {
    background: transparent;
    border: 2px solid var(--black) !important;
    border-radius: 0px !important;
    opacity: 1 !important;
    padding: 4px !important;
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet-active {
    background: var(--black) !important;
    border: 2px solid var(--black) !important;
}

/* Navigation */
.swiper-button-prev {
    position: relative;
    // display: block;
    border-right: var(--border-blk);
}
.swiper-button-next {
    position: relative;
    // display: block;
}

.swiper-button-next, .swiper-button-prev {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0px;
    z-index: 10;
    cursor: pointer;
    width: 40px;
    height: 40px;
    svg {
        width: 16px;
    }
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}