<div class="four-oh-four">
    <div class="fof-wrapper">

        <div class="fof-content">
            <h1>Looks like we got lost.</h1>
            <a href="/" title="Home">Go Home</a>
        </div>

    </div>
</div>