{{ 'page--contact.css' | asset_url | stylesheet_tag }}

<div class="contact-page">

    <div class="contact-header">
        <h1>Contact Dais</h1>
    </div>

    <div class="form-container">
        {% render 'contact-form' %}
    </div>

</div>