.navbar-mobile {
    width: 100%;
    //position: absolute;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: var(--white);
    // border-top: var(--border-blk);
    border-bottom: var(--border-blk);

    .menu-button {
        display: inline-block;
        padding-bottom: 4px;
        border-bottom: 1px solid var(--black);
        color: var(--black);
        font-family: var(--type-writer);
        text-transform: uppercase;
    }

    .navbar-mobile--row {
        display: grid;
        grid-template-columns: 3fr 6fr 3fr;
        align-items: center;
        
        padding: 10px;
        font-size: 2rem;
    }

    .logo {
        text-align: center;
        a {
            display: block;
            z-index: 9;
        }
        img, svg {
            width: 100%;
            max-height: 50px;
        }

    }

    .cart {
        text-align: right;
        
        .cart-link--wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: 3px;
            color: var(--black);
        }
    }

}

// .navbar-mobile--dropdown {
//     background-color: var(--black);
//     color: var(--white);
//     text-transform: uppercase;
//     height: 0px;
//     overflow: hidden;



//     li.active {
//         color: var(--red);
//     }

//     .more {
//         color: var(--red);
//     }

//     .links {

//         li.mobile-nav-link {
//             font-size: 2.6rem;
//             border-bottom: var(--border-wht);
//             padding: 10px;
//         }

//     }

//     .mobile-submenu {
//         display: flex;
//         flex-direction: column;
//         height: 0px;
//         overflow: hidden;
//         margin: 0;

//         a {
//             display: block;
//             padding: 10px 0;
//             border-bottom: 1px solid var(--white);
//             font-size: var(--subnav-font--mobile);
//             color: var(--grey-light);
//         }

//     }

//     .mobile-submenu-main-link {
//         margin: 10px 0 0px 0;
//     }


// }