/*
    Main Navigation
*/
.navbar {
    width: 100%;
    max-width: 100%;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background: var(--white);
    transition: all 0.3s;
    border-bottom: var(--border-blk);

    .navbar--row {
        display: grid;
        grid-template-columns: 3fr 6fr 3fr;
        align-items: center;
        padding: 3px 10px;
        position: relative;
    }

    // Left
    #logo {
        padding: 4px 0;

        img, svg {
            width: 100%;
            max-width: 40px;
        }
    }

    // Links
    .links {
        flex-grow: 1;
        height: 100%;

        nav {
            height: 100%;
        }

        ul.main-menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 100%;

            li {
                height: 100%;
                display: flex;
                align-items: center;
                padding: 3px 8px;
                cursor: pointer;
                
                a {
                    color: var(--black);
                    font-size: var(--24px);
                    display: flex;
                    flex-direction: row;
                    gap: 6px;
                    white-space: nowrap;
                }

                .more {
                    color: var(--red);
                    display: inline;
                }

                .submenu {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -100%;
                    height: 100%;
                    opacity: 0;
                    display: none;
                    flex-direction: row;
                    justify-content: center;
                    background-color: var(--black);
                    color: var(--white);
                    z-index: 9;
                    border-bottom: 1px solid var(--white);
            
                    li {
                        border-left: 1px solid var(--white);
                        padding: 3px 16px;
                        cursor: pointer;
                    }
            
                    li:last-of-type {
                        border-right: 1px solid var(--white);
                    }
            
                    li:hover {
                        background-color: var(--white) !important;
                        color: var(--black) !important;
                    }
                }

            }

            li:hover {
                background: var(--black);
                color: var(--white);

                a {
                    color: var(--white);
                }

                .more {
                    transition: var(--quick-transition);
                    transform: rotate(90deg);
                    color: var(--white);
                }
            }
        }

    }

    // Cart
    .cart {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        font-size: var(--20px);
        color: var(--black);

        .account {
            svg {
                width: 16px;
            }
        }

        .theme-mode {
            cursor: pointer;
            svg {
                width: 15px;
            }

            .dark-mode {
                svg {
                    transform: rotate(0deg)
                }
            }
            .lite-mode {
                svg {
                    transform: rotate(90deg)
                }
            }
        }

        .cart-link--wrapper {
            cursor: pointer;
        }

        .cart-link--wrapper:hover {
            text-decoration: underline;
        }

        .logo--head {
            a {
                svg {
                    width: 100%;
                    max-width: 18px;
                    cursor: pointer;
                }
            }
        }

    }

}

.no-dropdown:hover .submenu { display: none !important; }
.navbar-mobile { display: none; }

@media screen and (max-width: 767px) {
    .navbar { display: none; }
    .navbar-mobile { display: block; }
}