body[data-theme="lite"] {
    /* Colors */
    --bright-white: #ffffff;
    --white: #F9F9F9;
    --white-dim: #efefef;
    --grey: #8f8f8f;
    --grey-dark: #242424;
    --grey-light: #e7e7e7;
    --grey-mid: #dfe1e5;
    --red: #7D1128;
    --black: #000000;

    /* Borders */
    --border-blk: 2px solid var(--black);
    --border-wht: 2px solid var(--white);
    --border-gry: 2px solid var(--grey-light);

    --border-blk-thin: 1px solid var(--black);
    --border-wht-thin: 1px solid var(--white);
}

body[data-theme="dark"] {
    /* Colors */
    --bright-white: #000000;
    --white: #111111;
    --white-dim: #222222;
    --grey: #8f8f8f;
    --grey-dark: #444444;
    --grey-light: #202020;
    --grey-mid: #dfe1e5;
    --red: #7D1128;
    --black: #ffffff;

    /* Borders */
    --border-blk: 2px solid var(--black);
    --border-wht: 2px solid var(--white);
    --border-gry: 2px solid var(--grey-light);

    --border-blk-thin: 1px solid var(--black);
    --border-wht-thin: 1px solid var(--white);
}

:root {
    /* Spacing */
    --side-padding: 3%;
    --input-padding: 6px 12px;
    --top-padding: 100px;

    /* Type */
    --section-title: 4.8rem;
    --view-more-size: 2rem;
   --sans-serif: Arial, sans-serif;
    --type-writer: 'DM Mono', monospace;

    /* Font Units */
    --80px: 5rem;
    --60px: 3.75rem;
    --54px: 3.375rem;
    --52px: 3.25rem;
    --45px: 2.813rem;
    --42px: 3rem;
    --40px: 2.5rem;
    --38px: 2.375rem;
    --36px: 2.571rem;
    --32px: 2.286rem;
    --30px: 2.143rem;
    --28px: 2rem;
    --24px: 1.714rem;
    --22px: 1.571rem;
    --18px: 1.286rem;
    --16px: 1.143rem;
    --14px: 1rem;
    --12px: 0.857rem;
    --10px: 0.714rem;

    /* Navigation */
    --nav-font--desktop: 14px;
    --nav-font--mobile: 24px;
    --subnav-font--mobile: 20px;

    /* Transitions */
    --quick-transition: 0.32s ease-in-out;
    --hover-transition: 0.6s ease-in-out;
    --image-opacity-transition: 0.54s ease-in-out;
}

@media screen and (max-width: 767px) {
    :root {
        --side-padding: 10px;
    }
}



@import '404.scss';


/* Global */
@import 'global/reset.scss';
@import 'global/swiper.scss';
@import 'global/app.scss';
@import 'global/typography.scss';
@import 'global/footer.scss';
@import 'global/sections.scss';
@import 'global/animations.scss';

/* Nav */
@import 'navigation/navbar.scss';
@import 'navigation/mobilenav.scss';

/* Home */
@import 'home/watch.scss';

/* Pages */
@import 'pages/artists/artists.scss';
@import 'pages/artists/artist-card.scss';
@import 'pages/pages.scss';

/* Blogs */
@import 'blog/blogs.scss';
@import 'blog/news-post.scss';

/* Shop > Single Products */
@import 'shop/single-product/single-product.scss';
@import 'shop/single-product/single-product--music.scss';
@import 'shop/single-product/single-product--merch.scss';
@import 'shop/single-product/bandcamp-swiper.scss';

/* Shop > Cart */
@import 'shop/cart/cart-drawer.scss';
@import 'shop/cart/cart-page.scss';

/* Shop > Collections */
@import 'shop/collections/collection-music.scss';
@import 'shop/collections/radio-buttons.scss';
@import 'shop/collections/no-products.scss';